/* 
  border: 1px solid black;


*/

.Product_info_div{
  
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding:10px;
    
    
}

.heading_info_div{
  /* border: 1px solid red; */
  border-radius: .6em;
  background-color: blanchedalmond;
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.heading_info_div h1{
  width: 100%;
  background-color: black;
  color:whitesmoke;
  text-align: center;
  border-radius: 1em;
  border: none;
  
}

.heading_info_div img{
  height: 70%;
}


.Product_Lower_div{
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
}

.Product_Lower_div p{
  font-size: large;
  font-weight: 400;
  background-color: aliceblue;
  border-radius: .8em;
  width: 80%;
  padding: 10px;
  text-align: center;
}


.btn_div{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
}


.btn_div button{
  padding: 10px;
  border: none;
  border-radius: 1em;
  background-color: black;
  color: red;
  margin-left: 50px;


}


.related_product_div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}